


predisclosure_line_columns() {

    const common = [
        "account_name",
        "website",
        "meeting_date",
        "nda_confirmed",
        "disclosure_format",
    ];

    const tradeFields = [
        "sda_partner_level",
        "account_in_sda_partner_list",
        "retailer_ranking",
    ];

    const b2bFields = [
        "disclosed_last_2_years",
        "b2b_business_type",
        "estimated_business",
        "annual_sales",
    ];

    if (
        this.selected_predisclosure.predisclosure_type === "PARTNER"
    ) {

        return [
            ...common,
            ...tradeFields,
            "predisclosure_line_status",
        ];

    }

    if (
        this.selected_predisclosure.predisclosure_type === "END_CUSTOMER"
    ) {

        return [
            ...common,
            ...b2bFields,
            "predisclosure_line_status",
        ];

    }

    return [
        ...common,
        "predisclosure_line_status",
    ];

},


=====================


{% load static %}
{% load common_tags %}

{% block predisclosure_view %}

<section id="predisclosure_view">

    <div v-if="nav_state.predisclosure_view">

        <!-- ================= Back ================= -->

        <div class="fs-4 mb-3">
            <a href="#">
                <i class="bi bi-arrow-left-circle-fill"
                    @click="navigate(nav_state.previous)">
                </i>
            </a>
        </div>

        <!-- ================= Breadcrumb ================= -->

        <nav aria-label="breadcrumb">

            <ol class="breadcrumb">

                <li class="breadcrumb-item">
                    <a href="#"
                        @click="navigate('list_of_predisclosures')">
                        PreDisclosures
                    </a>
                </li>

                <li class="breadcrumb-item active">

                    [[ selected_predisclosure?.predisclosure_id ]]

                </li>

            </ol>

        </nav>

        <div class="d-flex justify-content-between align-items-top flex-wrap">

            <!-- ========================================================= -->
            <!-- Header -->
            <!-- ========================================================= -->

            <div class="p-1 flex-grow-1">

                <vertical-table
                    :api_endpoint="get_url"
                    :columns="predisclosure_columns"
                    v-model:data_refresh_trigger="update_triggered"
                    :custom_format="custom_format"

                    @on-item-update="
                        (item)=>{
                            selected_predisclosure=item;
                        }">

                    <template #actions="actionProps">

                        <tr>

                            <th>

                                Actions

                            </th>

                            <td>

                                <div class="btn-group">

                                    <button

                                        v-if="['DRAFT','REJECTED'].includes(actionProps?.predisclosure_status)"

                                        class="btn btn-sm btn-primary"

                                        @click="navigate('predisclosure_app','edit')">

                                        Edit

                                    </button>

                                </div>

                            </td>

                        </tr>

                    </template>

                </vertical-table>

            </div>

            <!-- ========================================================= -->
            <!-- Status History -->
            <!-- ========================================================= -->

            <div class="p-1 flex-grow-1">

                <div class="container-fluid">

                    <status-history

                        :api_endpoint="predisclosure_status_history_url"

                        v-model:data_refresh_trigger="update_triggered"

                        :custom_format="custom_format?.predisclosure_status">

                    </status-history>

                </div>

            </div>

            <!-- ========================================================= -->
            <!-- Line Table -->
            <!-- ========================================================= -->

            <div class="p-1 flex-grow-1">

                <django-paged-table

                    :api_endpoint="api_endpoints.predisclosure_line"

                    :columns="predisclosure_line_columns"

                    :fixed_query_filter="line_filter"

                    title="PreDisclosure Lines"

                    :filter_items="line_filter_items"

                    @row-select="
                        (item,index)=>{
                            selected_lines.push(item);
                        }"

                    @row-unselect="
                        (item,index)=>{
                            selected_lines.splice(
                                selected_lines.indexOf(item),
                                1
                            );
                        }"

                    :row_select_active="true"

                    v-model:data_refresh_trigger="update_triggered"

                    :custom_format="custom_format">

                    <template #actions="actionProps">

                        <div class="btn-group">

                            <button

                                type="button"

                                class="btn btn-secondary"

                                title="See Line Status History"

                                @click="
                                    selected_line=actionProps;
                                    show_line_history=true;
                                ">

                                <svg xmlns="http://www.w3.org/2000/svg"
                                    width="32"
                                    height="32"
                                    fill="currentColor"
                                    viewBox="0 0 16 16">

                                    <path
                                        d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022z"/>

                                    <path
                                        d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>

                                    <path
                                        d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>

                                </svg>

                            </button>

                        </div>

                    </template>

                </django-paged-table>

            </div>

        </div>
                <!-- ===================================================== -->
        <!-- Line Status History -->
        <!-- ===================================================== -->

        <modal-dialog v-model="show_line_history">

            <template #header>

                <h5 class="modal-title">
                    Line Status History
                </h5>

            </template>

            <template #body>

                <status-history

                    v-if="show_line_history"

                    :api_endpoint="line_status_history_url"

                    :custom_format="custom_format?.predisclosure_line_status">

                </status-history>

            </template>

        </modal-dialog>

        <!-- ===================================================== -->
        <!-- Line Status Update -->
        <!-- ===================================================== -->

        <modal-dialog v-model="show_line_status_update">

            <template #header>

                <h5 class="modal-title">
                    Action
                </h5>

            </template>

            <template #body>

                <div class="d-flex flex-column">

                    <h5>

                        [[ line_status_update_message() ]]

                    </h5>

                    <div class="p-2">

                        <label
                            for="line_status_comment"
                            class="form-label">

                            Comment

                        </label>

                        <input

                            type="text"

                            autocomplete="off"

                            maxlength="300"

                            class="form-control"

                            id="line_status_comment"

                            v-model="comment">

                    </div>

                    <div class="p-2">

                        <label
                            class="form-label"
                            for="line_status_update_attachment">

                            Attachments (optional)

                        </label>

                        <input

                            type="file"

                            class="form-control"

                            id="line_status_update_attachment"

                            accept="image/*,application/pdf"

                            multiple>

                    </div>

                </div>

            </template>

            <template #footer>

                <button

                    type="button"

                    class="btn btn-primary"

                    @click="update_line_status()">

                    Confirm

                </button>

            </template>

        </modal-dialog>

        <!-- ===================================================== -->
        <!-- Notification -->
        <!-- ===================================================== -->

        <notification-dialog

            v-model="show_notification_dialog"

            :message="notification_message">

        </notification-dialog>

    </div>

</section>
<script type="module">

import {
    postData,
    patchData,
    upload_files_to_sharepoint
} from "{% static 'common/modules/common.js' %}";

import * as vuejs_components
    from "{% static 'common/modules/components.js' %}";

import {
    utils,
    writeFile
} from "{% static 'common/modules/xlsx.mjs' %}";

const predisclosure_view_app = Vue.createApp({

    delimiters: ["[[", "]]"],

    data() {

        return {

            nav_state: init_nav_state,

            HEADER_STATUS_GRAPH: HEADER_STATUS_GRAPH,

            PREDISCLOSURE_LINE_STATUS_GRAPH:
                PREDISCLOSURE_LINE_STATUS_GRAPH,

            LINE_STATUS_TO_ROLE:
                LINE_STATUS_TO_ROLE,

            selected_predisclosure:
                selected_predisclosure,

            selected_line: {},

            selected_lines: [],

            comment: null,

            user_role:
                "{{ request.user|get_roles }}",

            predisclosure_columns: [

                "predisclosure_id",
                "region",
                "predisclosure_type",
                "product_category",
                "products",
                "predisclosure_status",

                "meta_created_by",
                "meta_created_date",

            ],

            predisclosure_line_columns: [

                "account_name",
                "website",
                "meeting_date",
                "nda_confirmed",
                "disclosure_format",
                "predisclosure_line_status",

            ],

            line_target_status: null,

            show_line_history: false,

            show_line_status_update: false,

            show_notification_dialog: false,

            notification_message: "",

            update_triggered: false,

        };

    },

    watch: {

        nav_state: {

            handler(newVal, oldVal) {

                if (newVal.predisclosure_view) {

                    this.selected_lines = [];

                }

            },

            deep: true,

        },

    },

    computed: {

        get_url() {

            return (
                api_endpoints.predisclosure +
                this.selected_predisclosure?.predisclosure_id +
                "/"
            );

        },

        line_filter() {

            return (
                "&predisclosure=" +
                this.selected_predisclosure?.predisclosure_id
            );

        },

        predisclosure_status_history_url() {

            return (
                api_endpoints.predisclosure_status +
                "?predisclosure=" +
                this.selected_predisclosure?.predisclosure_id
            );

        },

        line_status_history_url() {

            return (
                api_endpoints.predisclosure_line_status +
                "?line=" +
                this.selected_line.id
            );

        },

        custom_format() {

            return {

                "predisclosure_status": {

                    DRAFT: "text-bg-secondary",

                    IN_PROGRESS: "text-bg-warning",

                    COMPLETED: "text-bg-success",

                    REJECTED: "text-bg-danger",

                },

                "predisclosure_line_status": {

                    DRAFT: "text-bg-secondary",

                    APPROVED: "text-bg-success",

                    REJECTED: "text-bg-danger",

                    AWAITING_ISB_ADMIN_APPROVAL:
                        "text-bg-warning",

                    AWAITING_ISB_PM_APPROVAL:
                        "text-bg-warning",

                    AWAITING_ICB_ADMIN_APPROVAL:
                        "text-bg-warning",

                    AWAITING_ICB_PM_APPROVAL:
                        "text-bg-warning",

                    AWAITING_PR_APPROVAL:
                        "text-bg-warning",

                    AWAITING_MARKETING_PM_APPROVAL:
                        "text-bg-warning",

                },

            };

        },

        line_filter_items() {

            const res = [];

            for (const status of [

                "DRAFT",

                "APPROVED",

                "REJECTED",

                "AWAITING_ISB_ADMIN_APPROVAL",

                "AWAITING_ISB_PM_APPROVAL",

                "AWAITING_ICB_ADMIN_APPROVAL",

                "AWAITING_ICB_PM_APPROVAL",

                "AWAITING_PR_APPROVAL",

                "AWAITING_MARKETING_PM_APPROVAL",

            ]) {

                res.push({

                    label: status,

                    expression:
                        "&predisclosure_line_status=" +
                        status,

                });

            }

            return res;

        },

    },
    methods: {

    navigate(id, context = null) {

        this.nav_state["predisclosure_view"] = false;
        this.nav_state.previous = "predisclosure_view";
        this.nav_state[id] = true;
        this.nav_state.context = context;

    },

    line_status_update_message() {

        switch (this.line_target_status) {

            case "AWAITING_ISB_PM_APPROVAL":
                return "Please confirm that you approve the selected account(s). The request will be transferred to the ISB PM.";

            case "AWAITING_ICB_PM_APPROVAL":
                return "Please confirm that you approve the selected account(s). The request will be transferred to the ICB PM.";

            case "AWAITING_MARKETING_PM_APPROVAL":
                return "Please confirm that you approve the selected account(s). The request will be transferred to the Marketing PM.";

            case "APPROVED":
                return "Please confirm that you approve the selected account(s).";

            case "REJECTED":
                return "Please confirm that you reject the selected account(s).";

            default:
                return "Would you like to change the selected line(s) status to " +
                    this.line_target_status + "?";

        }

    },

    get_line_status_choices(line) {

        const current_status = line.predisclosure_line_status;

        if (!current_status) {
            return [];
        }

        let has_permission = false;

        for (const role of this.LINE_STATUS_TO_ROLE[current_status]) {

            if (this.user_role.includes(role)) {

                has_permission = true;

            }

        }

        if (has_permission) {

            return this.PREDISCLOSURE_LINE_STATUS_GRAPH[current_status];

        }

        return [];

    },

    get_line_status_action(choice) {

        switch (choice) {

            case "AWAITING_ISB_PM_APPROVAL":
            case "AWAITING_ICB_PM_APPROVAL":
            case "AWAITING_MARKETING_PM_APPROVAL":
            case "APPROVED":

                return {
                    button_text: "Approve",
                    button_class: "btn btn-sm btn-success"
                };

            case "REJECTED":

                return {
                    button_text: "Reject",
                    button_class: "btn btn-sm btn-danger"
                };

            default:

                return {
                    button_text: choice,
                    button_class: "btn btn-sm btn-primary"
                };

        }

    },

    multiple_line_status_choices() {

        let common_target_status =
            new Set(
                this.get_line_status_choices(
                    this.selected_lines[0]
                )
            );

        for (const line of this.selected_lines) {

            common_target_status =
                common_target_status.intersection(

                    new Set(
                        this.get_line_status_choices(line)
                    )

                );

        }

        return common_target_status;

    },

    async update_line_status() {

        this.show_line_status_update = false;

        let error_occured = false;

        for (const line of this.selected_lines) {

            this.show_notification(

                "Updating status of Account : " +
                line.account_name

            );

            await postData(

                api_endpoints.predisclosure_line_status,

                {

                    line: line.id,

                    status: this.line_target_status,

                    comment: this.comment,

                }

            )

            .then(response => {

                if (response.ok) {

                    return response.json();

                }

                return Promise.reject(response);

            })

            .catch(error => {

                this.show_notification(

                    "An error occurred while updating Account : " +
                    line.account_name

                );

                error_occured = true;

            });

            if (error_occured) {

                break;

            }

        }

        if (!error_occured) {

            this.show_notification(

                "Uploading attachment(s)..."

            );

            await this.upload_file(

                "line_status_update_attachment"

            );

            this.show_notification(

                "Reloading PreDisclosure..."

            );

            this.update_triggered = true;

            this.selected_lines = [];

            this.comment = null;

            this.show_notification(

                "Selected account(s) updated successfully."

            );

        }

    },

    async upload_file(input_id) {

        const base_url =
            "{{ site_address|escapejs }}{{ library|escapejs }}";

        const path =
            this.selected_predisclosure.link.substring(

                base_url.length + 1

            );

        await upload_files_to_sharepoint(

            input_id,

            "{{ sharepoint_upload_endpoint|escapejs }}",

            "{{ site_address|escapejs }}",

            "{{ library|escapejs }}",

            path

        );

    },

    show_notification(message) {

        this.notification_message = message;

        this.show_notification_dialog = true;

    },

    display_error(error_response) {

        try {

            const details = error_response.json();

            details.then(data => {

                this.show_notification(data);

            });

        }

        catch {

            this.show_notification(

                "Unknown error occurred, please contact the Support Team."

            );

        }

    },

    async export_to_excel(items) {

        const workbook = utils.book_new();

        const worksheet =
            utils.json_to_sheet(items.results);

        utils.book_append_sheet(

            workbook,

            worksheet,

            "PreDisclosureLines"

        );

        writeFile(

            workbook,

            "PreDisclosureLines.xlsx"

        );

    },

},
    Object.entries(vuejs_components).forEach((item) => {

    predisclosure_view_app.component(
        item[0],
        item[1]
    );

});

predisclosure_view_app.mount("#predisclosure_view");

</script>

{% endblock %}
