<svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
     stroke-linecap="round" stroke-linejoin="round">
  <circle cx="12" cy="12" r="9"></circle>
  <polyline points="12 7 12 12 15














<ul v-if="customer_name_search_results[lineIndex]?.length"
    class="list-group mt-1"
    style="max-height: 220px; overflow-y: auto;">

    <li v-for="cust in customer_name_search_results[lineIndex]"
        :key="cust.party_number"
        class="list-group-item list-group-item-action small"
        style="cursor:pointer;"
        @click="selectCustomerName(lineIndex, cust)">

        [[ cust.label ]]
    </li>

</ul>


=== Promotion Basics ===
Promotion Campaign
Promotion Category
Promotion Activity

=== Market Scope ===
NSO
[ ] Apply to All NSO Market

=== Timeline ===
Start Date     End Date

=== Financial Info ===
Local Currency (auto)

=== Special Handling ===
AIF To Be Cancelled

=== Notifications ===
Email CC

=== Attachments ===
File Upload
(File will be uploaded to SharePoint)



<svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
     stroke-linecap="round" stroke-linejoin="round">
  <rect x="9" y="2" width="6" height="4" rx="1"></rect>
  <path d="M5 6h14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2z"></path>
  <line x1="9" y1="12" x2="15" y2="12"></line>
  <line x1="9" y1="16" x2="13" y2="16"></line>
</svg>

       Hi Savita,
I hope you’re doing well.
I’m reaching out to request your feedback on Ashwini Sunil Jivne regarding her priority objective settings for BOTP tracking. Her rating has been changed from Succeeding to Needs Improvement from the SBU side, and I’m currently trying to understand the reason for this change.
As per the policy, she is required to be in BOTP for two months. To support this, I would appreciate your help in defining a few project-related objectives that can be used to track and measure her progress during this period.
Thank you in advance for your support.
Best regards,
Ajit
